.futbolandiaTitle{
    color: #ffffff;
    font-size: 1.5rem;
}
.teamLogo{
    height: 1.5rem;
    width: 1.5rem;
}
.leagueLogo{
    height: 6rem;
    width: 6rem;
}

.league-button{
    height: 1.5rem;
    width: 1.5rem;
}

@media (min-width: 576px) {
    
    .futbolandiaTitle {
        font-size: 3rem;
    }
}

/* section {
    background-image: url("../images/timothy-tan-PAe2UhGo-S4-unsplash.jpg");
    background-color: #cccccc;
    background-repeat: no-repeat;
    background-size: 100%;
    filter: blur(8px);

} */