.futbolandiaTitle{
    color: #38761d;
    font-size: 3rem;
}
.teamLogo{
    height: 1.5rem;
    width: 1.5rem;
}
.leagueLogo{
    height: 6rem;
    width: 6rem;
}

.league-button{
    height: 1.5rem;
    width: 1.5rem;
}